/.vscode/
__pycache__
**/.DS_Store
.idea/
Thesis/.idea/
Thesis/out/*
!Thesis/out/*.pdf
**/out/*
!**/out/*.pdf
!**/out/*.png
Presentation/demo_video.mov
Presentation/equilibration_lanes_local_compr.mp4
Presentation/playground_demo.mov
**/*.npy
**/*.egg-info
